
<div *ngIf="applicant">
    <h2><span jhiTranslate="zakupkiApp.applicant.detail.title">Applicant</span> {{applicant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.applicant.organizationName">Organization Name</span></dt>
        <dd>
            <span>{{applicant.organizationName}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.applicant.applicantType">Applicant Type</span></dt>
        <dd>
            <span>{{applicant.applicantType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'applicant/'+ applicant.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary" *adminOnly>
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
