<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myApplicantLabel" jhiTranslate="zakupkiApp.applicant.home.createOrEditLabel">Create or edit a Applicant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!applicant.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="applicant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.applicant.organizationName" for="field_organizationName">Organization Name</label>
            <input type="text" class="form-control" name="organizationName" id="field_organizationName"
                [(ngModel)]="applicant.organizationName" required />
            <div [hidden]="!(editForm.controls.organizationName?.dirty && editForm.controls.organizationName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.organizationName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.applicant.applicantType" for="field_applicantType">Applicant Type</label>
            <input type="text" class="form-control" name="applicantType" id="field_applicantType"
                [(ngModel)]="applicant.applicantType"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
