<form name="reindexForm" (ngSubmit)="confirmReindex()" #reindexForm="ngForm">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" jhiTranslate="elasticsearch.reindex.dialog.title">Confirm reindex operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="elasticsearch.reindex.dialog.question">
            Are you sure you want to reindex Elasticsearch? This could take a while!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="elasticsearch.reindex.dialog.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-exclamation"></span>&nbsp;
            <span jhiTranslate="elasticsearch.reindex.dialog.confirm">Reindex</span>
        </button>
    </div>
</form>
