<div>
    <h2 jhiTranslate="data-sync.title">Data Synchronization</h2>

    <p>
        <button type="button" class="btn btn-primary" (click)="refresh()"><span
            class="glyphicon glyphicon-refresh"></span>&nbsp;
            <span jhiTranslate="data-sync.refresh.button">Refresh all</span>
        </button>
    </p>

    <table id="dataSync" class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-5" jhiTranslate="data-sync.table.entity">Type</th>
            <th class="col-md-2 text-center" jhiTranslate="data-sync.table.status">Status</th>
            <th class="col-md-2 text-center" jhiTranslate="data-sync.table.date">Last Sync date</th>
            <th class="col-md-2 text-center" jhiTranslate="data-sync.table.perform">Perform sync</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let syncInfo of syncInfos">
            <td>{{'data-sync.types.' + syncInfo.name | translate}}</td>
            <td class="text-center">
                <span class="badge" [ngClass]="getLabelClass(syncInfo.status)"
                      jhiTranslate="{{'data-sync.status.' + syncInfo.status}}">
                {{syncInfo.status}}
                </span>
            </td>
            <td class="text-center">{{syncInfo.syncDate | date:'mediumDate'}}</td>
            <td class="text-center">
                <button type="button" class="btn btn-primary btn-xs" (click)="performSync(syncInfo)">
                    <i class="fa fa-refresh"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
