<div *ngIf="registrationKo">
    <h2><span jhiTranslate="zakupkiApp.registrationKo.detail.title">Registration Ko</span> {{registrationKo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.registrationKo.regNum">Reg Num</span></dt>
        <dd>
            <span>{{registrationKo.regNum}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.registrationKo.fullName">Full Name</span></dt>
        <dd>
            <span>{{registrationKo.fullName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'registration-ko/'+ registrationKo.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary" *adminOnly>
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <hr>

    <div>
        <h2>
            <span jhiTranslate="zakupkiApp.registrationKo.complaints.title">Complaints</span>
        </h2>
        <div class="row">
            <div class="col-sm-12 no-padding-right">
                <form name="datePickForm" role="form" class="form-inline" show-validation #datePickForm="ngForm">

                    <div class="form-group">
                        <label class="form-control-label input-group-addon" for="field_fromDate">
                            <span jhiTranslate="zakupkiApp.registrationKo.complaints.fromDate">From Date</span>
                        </label>
                        <div class="input-group">
                            <input id="field_fromDate" type="text" class="form-control" name="fromDate"
                                   ngbDatepicker #fromDateDp="ngbDatepicker" [(ngModel)]="fromDate"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" (click)="fromDateDp.toggle()"><i
                                    class="fa fa-calendar"></i></button>
                            </span>
                        </div>

                        <span class="break">&nbsp;</span>

                        <label class="form-control-label input-group-addon" for="field_toDate">
                            <span jhiTranslate="zakupkiApp.registrationKo.complaints.toDate">To Date</span>
                        </label>
                        <div class="input-group">
                            <input id="field_toDate" type="text" class="form-control" name="toDate"
                                   ngbDatepicker #toDateDp="ngbDatepicker" [(ngModel)]="toDate"/>
                            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="toDateDp.toggle()"><i
                        class="fa fa-calendar"></i></button>
                    </span>
                        </div>
                    </div>

                    <span class="break">&nbsp;</span>

                    <button [disabled]="datePickForm.form.invalid" class="btn btn-primary" (click)="loadComplaints()">
                        <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="zakupkiApp.registrationKo.complaints.showComplaints">Show Complaints</span>
                    </button>
                </form>

            </div>
        </div>
        <br/>
        <div class="table-responsive" *ngIf="complaints">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="indictedClient.fullName"><span jhiTranslate="zakupkiApp.complaint.indictedClient">Indicted Client</span>
                        <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="complaintNumber"><span jhiTranslate="zakupkiApp.complaint.complaintNumber">Complaint Number</span>
                        <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="regDate"><span jhiTranslate="zakupkiApp.complaint.regDate">Reg Date</span> <span
                        class="fa fa-sort"></span></th>
                    <th jhiSortBy="text"><span jhiTranslate="zakupkiApp.complaint.text">Text</span> <span
                        class="fa fa-sort"></span></th>
                    <!--<th jhiSortBy="registrationKo.fullName"><span jhiTranslate="zakupkiApp.complaint.registrationKo">Registration Ko</span>-->
                        <!--<span class="fa fa-sort"></span></th>-->
                    <th jhiSortBy="purchase.purchaseNumber"><span
                        jhiTranslate="zakupkiApp.complaint.purchase">Purchase</span> <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="applicant.organizationName"><span jhiTranslate="zakupkiApp.complaint.applicant">Applicant</span>
                        <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let complaint of complaints ;trackBy: trackId">
                    <td><a [routerLink]="['../complaint', complaint.id ]">{{complaint.id}}</a></td>
                    <td>
                        <div *ngIf="complaint.indictedClient">
                            <a [routerLink]="['../client', complaint.indictedClient?.id ]">{{complaint.indictedClient?.fullName}}</a>
                        </div>
                    </td>
                    <td>{{complaint.complaintNumber}}</td>
                    <td>{{complaint.regDate | date:'mediumDate'}}</td>
                    <td>{{complaint.text}}</td>
                    <!--<td>-->
                        <!--<div *ngIf="complaint.registrationKo">-->
                            <!--<a [routerLink]="['../registration-ko', complaint.registrationKo?.id ]">{{complaint.registrationKo?.fullName}}</a>-->
                        <!--</div>-->
                    <!--</td>-->
                    <td>
                        <div *ngIf="complaint.purchase">
                            <a [routerLink]="['../purchase', complaint.purchase?.id ]">{{complaint.purchase?.purchaseNumber}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="complaint.applicant">
                            <a [routerLink]="['../applicant', complaint.applicant?.id ]">{{complaint.applicant?.organizationName}}</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="complaints && complaints.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
