
<div *ngIf="plannedCheckResult">
    <h2><span jhiTranslate="zakupkiApp.plannedCheckResult.detail.title">Planned Check Result</span> {{plannedCheckResult.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.plannedCheckResult.checkResultNumber">Check Result Number</span></dt>
        <dd>
            <span>{{plannedCheckResult.checkResultNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.plannedCheckResult.checkNumber">Check Number</span></dt>
        <dd>
            <span>{{plannedCheckResult.checkNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.plannedCheckResult.createdDate">Created Date</span></dt>
        <dd>
            <span>{{plannedCheckResult.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.plannedCheckResult.actDate">Act Date</span></dt>
        <dd>
            <span>{{plannedCheckResult.actDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.plannedCheckResult.actPrescriptionDate">Act Prescription Date</span></dt>
        <dd>
            <span>{{plannedCheckResult.actPrescriptionDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.plannedCheckResult.owner">Owner</span></dt>
        <dd>
            <div *ngIf="plannedCheckResult.owner">
                <a [routerLink]="['/owner', plannedCheckResult.owner?.id]">{{plannedCheckResult.owner?.regNum}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.plannedCheckResult.checkSubject">Check Subject</span></dt>
        <dd>
            <div *ngIf="plannedCheckResult.checkSubject">
                <a [routerLink]="['/client', plannedCheckResult.checkSubject?.id]">{{plannedCheckResult.checkSubject?.regNum}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'planned-check-result/'+ plannedCheckResult.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
