<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlannedCheckResultLabel" jhiTranslate="zakupkiApp.plannedCheckResult.home.createOrEditLabel">Create or edit a Planned Check Result</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!plannedCheckResult.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="plannedCheckResult.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.plannedCheckResult.checkResultNumber" for="field_checkResultNumber">Check Result Number</label>
            <input type="text" class="form-control" name="checkResultNumber" id="field_checkResultNumber"
                [(ngModel)]="plannedCheckResult.checkResultNumber" required />
            <div [hidden]="!(editForm.controls.checkResultNumber?.dirty && editForm.controls.checkResultNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.checkResultNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.plannedCheckResult.checkNumber" for="field_checkNumber">Check Number</label>
            <input type="text" class="form-control" name="checkNumber" id="field_checkNumber"
                [(ngModel)]="plannedCheckResult.checkNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.plannedCheckResult.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="plannedCheckResult.createdDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.plannedCheckResult.actDate" for="field_actDate">Act Date</label>
            <div class="input-group">
                <input id="field_actDate" type="text" class="form-control" name="actDate" ngbDatepicker  #actDateDp="ngbDatepicker" [(ngModel)]="plannedCheckResult.actDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="actDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.plannedCheckResult.actPrescriptionDate" for="field_actPrescriptionDate">Act Prescription Date</label>
            <div class="input-group">
                <input id="field_actPrescriptionDate" type="text" class="form-control" name="actPrescriptionDate" ngbDatepicker  #actPrescriptionDateDp="ngbDatepicker" [(ngModel)]="plannedCheckResult.actPrescriptionDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="actPrescriptionDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.plannedCheckResult.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="plannedCheckResult.owner" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ownerOption.id === plannedCheckResult.owner?.id ? plannedCheckResult.owner : ownerOption" *ngFor="let ownerOption of owners; trackBy: trackOwnerById">{{ownerOption.regNum}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.plannedCheckResult.checkSubject" for="field_checkSubject">Check Subject</label>
            <select class="form-control" id="field_checkSubject" name="checkSubject" [(ngModel)]="plannedCheckResult.checkSubject" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === plannedCheckResult.checkSubject?.id ? plannedCheckResult.checkSubject : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.regNum}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
