<div>
    <h2>
        <span jhiTranslate="zakupkiApp.plannedCheckResult.home.title">Planned Check Results</span>
        <button class="btn btn-primary float-right jh-create-entity create-planned-check-result" [routerLink]="['/', { outlets: { popup: ['planned-check-result-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="zakupkiApp.plannedCheckResult.home.createLabel">
            Create new Planned Check Result
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'zakupkiApp.plannedCheckResult.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="plannedCheckResults">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="checkResultNumber"><span jhiTranslate="zakupkiApp.plannedCheckResult.checkResultNumber">Check Result Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="checkNumber"><span jhiTranslate="zakupkiApp.plannedCheckResult.checkNumber">Check Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="zakupkiApp.plannedCheckResult.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="actDate"><span jhiTranslate="zakupkiApp.plannedCheckResult.actDate">Act Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="actPrescriptionDate"><span jhiTranslate="zakupkiApp.plannedCheckResult.actPrescriptionDate">Act Prescription Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="owner.regNum"><span jhiTranslate="zakupkiApp.plannedCheckResult.owner">Owner</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="checkSubject.regNum"><span jhiTranslate="zakupkiApp.plannedCheckResult.checkSubject">Check Subject</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let plannedCheckResult of plannedCheckResults ;trackBy: trackId">
                <td><a [routerLink]="['../planned-check-result', plannedCheckResult.id ]">{{plannedCheckResult.id}}</a></td>
                <td>{{plannedCheckResult.checkResultNumber}}</td>
                <td>{{plannedCheckResult.checkNumber}}</td>
                <td>{{plannedCheckResult.createdDate | date:'mediumDate'}}</td>
                <td>{{plannedCheckResult.actDate | date:'mediumDate'}}</td>
                <td>{{plannedCheckResult.actPrescriptionDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="plannedCheckResult.owner">
                        <a [routerLink]="['../owner', plannedCheckResult.owner?.id ]" >{{plannedCheckResult.owner?.regNum}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="plannedCheckResult.checkSubject">
                        <a [routerLink]="['../client', plannedCheckResult.checkSubject?.id ]" >{{plannedCheckResult.checkSubject?.regNum}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../planned-check-result', plannedCheckResult.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'planned-check-result/'+ plannedCheckResult.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'planned-check-result/'+ plannedCheckResult.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
