<div>
    <h2>
        <span jhiTranslate="zakupkiApp.unfairSupplier.home.title">Unfair Suppliers</span>
        <button class="btn btn-primary float-right jh-create-entity create-unfair-supplier" [routerLink]="['/', { outlets: { popup: ['unfair-supplier-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="zakupkiApp.unfairSupplier.home.createLabel">
            Create new Unfair Supplier
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'zakupkiApp.unfairSupplier.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="unfairSuppliers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="registryNum"><span jhiTranslate="zakupkiApp.unfairSupplier.registryNum">Registry Num</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="publishDate"><span jhiTranslate="zakupkiApp.unfairSupplier.publishDate">Publish Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="state"><span jhiTranslate="zakupkiApp.unfairSupplier.state">State</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reason"><span jhiTranslate="zakupkiApp.unfairSupplier.reason">Reason</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fullName"><span jhiTranslate="zakupkiApp.unfairSupplier.fullName">Full Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inn"><span jhiTranslate="zakupkiApp.unfairSupplier.inn">Inn</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="purchaseNumber"><span jhiTranslate="zakupkiApp.unfairSupplier.purchaseNumber">Purchase Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="publishOrg.regNum"><span jhiTranslate="zakupkiApp.unfairSupplier.publishOrg">Publish Org</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let unfairSupplier of unfairSuppliers ;trackBy: trackId">
                <td><a [routerLink]="['../unfair-supplier', unfairSupplier.id ]">{{unfairSupplier.id}}</a></td>
                <td>{{unfairSupplier.registryNum}}</td>
                <td>{{unfairSupplier.publishDate | date:'mediumDate'}}</td>
                <td>{{unfairSupplier.state}}</td>
                <td>{{unfairSupplier.reason}}</td>
                <td>{{unfairSupplier.fullName}}</td>
                <td>{{unfairSupplier.inn}}</td>
                <td>{{unfairSupplier.purchaseNumber}}</td>
                <td>
                    <div *ngIf="unfairSupplier.publishOrg">
                        <a [routerLink]="['../publish-org', unfairSupplier.publishOrg?.id ]" >{{unfairSupplier.publishOrg?.regNum}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../unfair-supplier', unfairSupplier.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'unfair-supplier/'+ unfairSupplier.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'unfair-supplier/'+ unfairSupplier.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
