<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUnfairSupplierLabel" jhiTranslate="zakupkiApp.unfairSupplier.home.createOrEditLabel">Create or edit a Unfair Supplier</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!unfairSupplier.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="unfairSupplier.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.unfairSupplier.registryNum" for="field_registryNum">Registry Num</label>
            <input type="text" class="form-control" name="registryNum" id="field_registryNum"
                [(ngModel)]="unfairSupplier.registryNum" required />
            <div [hidden]="!(editForm.controls.registryNum?.dirty && editForm.controls.registryNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.registryNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.unfairSupplier.publishDate" for="field_publishDate">Publish Date</label>
            <div class="input-group">
                <input id="field_publishDate" type="text" class="form-control" name="publishDate" ngbDatepicker  #publishDateDp="ngbDatepicker" [(ngModel)]="unfairSupplier.publishDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="publishDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.unfairSupplier.state" for="field_state">State</label>
            <input type="text" class="form-control" name="state" id="field_state"
                [(ngModel)]="unfairSupplier.state"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.unfairSupplier.reason" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                [(ngModel)]="unfairSupplier.reason"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.unfairSupplier.fullName" for="field_fullName">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="field_fullName"
                [(ngModel)]="unfairSupplier.fullName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.unfairSupplier.inn" for="field_inn">Inn</label>
            <input type="text" class="form-control" name="inn" id="field_inn"
                [(ngModel)]="unfairSupplier.inn"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.unfairSupplier.purchaseNumber" for="field_purchaseNumber">Purchase Number</label>
            <input type="text" class="form-control" name="purchaseNumber" id="field_purchaseNumber"
                [(ngModel)]="unfairSupplier.purchaseNumber"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.unfairSupplier.publishOrg" for="field_publishOrg">Publish Org</label>
            <select class="form-control" id="field_publishOrg" name="publishOrg" [(ngModel)]="unfairSupplier.publishOrg" >
                <option [ngValue]="null"></option>
                <option [ngValue]="publishOrgOption.id === unfairSupplier.publishOrg?.id ? unfairSupplier.publishOrg : publishOrgOption" *ngFor="let publishOrgOption of publishorgs; trackBy: trackPublishOrgById">{{publishOrgOption.regNum}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
