
<div *ngIf="unfairSupplier">
    <h2><span jhiTranslate="zakupkiApp.unfairSupplier.detail.title">Unfair Supplier</span> {{unfairSupplier.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.unfairSupplier.registryNum">Registry Num</span></dt>
        <dd>
            <span>{{unfairSupplier.registryNum}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unfairSupplier.publishDate">Publish Date</span></dt>
        <dd>
            <span>{{unfairSupplier.publishDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unfairSupplier.state">State</span></dt>
        <dd>
            <span>{{unfairSupplier.state}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unfairSupplier.reason">Reason</span></dt>
        <dd>
            <span>{{unfairSupplier.reason}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unfairSupplier.fullName">Full Name</span></dt>
        <dd>
            <span>{{unfairSupplier.fullName}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unfairSupplier.inn">Inn</span></dt>
        <dd>
            <span>{{unfairSupplier.inn}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unfairSupplier.purchaseNumber">Purchase Number</span></dt>
        <dd>
            <span>{{unfairSupplier.purchaseNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unfairSupplier.publishOrg">Publish Org</span></dt>
        <dd>
            <div *ngIf="unfairSupplier.publishOrg">
                <a [routerLink]="['/publish-org', unfairSupplier.publishOrg?.id]">{{unfairSupplier.publishOrg?.regNum}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'unfair-supplier/'+ unfairSupplier.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
