
<div *ngIf="unplannedCheckResult">
    <h2><span jhiTranslate="zakupkiApp.unplannedCheckResult.detail.title">Unplanned Check Result</span> {{unplannedCheckResult.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.unplannedCheckResult.checkResultNumber">Check Result Number</span></dt>
        <dd>
            <span>{{unplannedCheckResult.checkResultNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unplannedCheckResult.unplannedCheckNumber">Unplanned Check Number</span></dt>
        <dd>
            <span>{{unplannedCheckResult.unplannedCheckNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unplannedCheckResult.createdDate">Created Date</span></dt>
        <dd>
            <span>{{unplannedCheckResult.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unplannedCheckResult.result">Result</span></dt>
        <dd>
            <span>{{unplannedCheckResult.result}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unplannedCheckResult.owner">Owner</span></dt>
        <dd>
            <div *ngIf="unplannedCheckResult.owner">
                <a [routerLink]="['/owner', unplannedCheckResult.owner?.id]">{{unplannedCheckResult.owner?.regNum}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.unplannedCheckResult.checkSubject">Check Subject</span></dt>
        <dd>
            <div *ngIf="unplannedCheckResult.checkSubject">
                <a [routerLink]="['/client', unplannedCheckResult.checkSubject?.id]">{{unplannedCheckResult.checkSubject?.regNum}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'unplanned-check-result/'+ unplannedCheckResult.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
