<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    #set($contextPath = $rc.getContextPath())

    <!-- Site Properities -->
    <title>Общественный контроль закупок</title>
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/site.css">

    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/container.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/header.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/image.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/menu.css">

    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/segment.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/list.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/sidebar.css">
    <link rel="stylesheet" type="text/css" href="$contextPath/semantic/dist/components/transition.css">

    <link rel="stylesheet" type="text/css" href="$contextPath/css/homepage.css">

    <script src="$contextPath/js/jquery-2.1.4.js"></script>
    <script src="$contextPath/semantic/dist/components/visibility.js"></script>
    <script src="$contextPath/semantic/dist/components/sidebar.js"></script>
    <script src="$contextPath/semantic/dist/components/transition.js"></script>
    <script src="$contextPath/js/homepage.js"></script>
    <script>
        init();
    </script>
</head>
<body id="home">

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">Форум</a>
        <a class="item">Задать вопрос</a>
        <a class="item">Вопросы и ответы</a>

        <div class="right menu">
            <div class="item">
                <a class="ui button">Войти</a>
            </div>
            <div class="item">
                <a class="ui primary button">Регистрация</a>
            </div>
        </div>
    </div>
</div>

<!-- Page Contents -->
<div class="pusher">
    <div id="central_segment" class="ui inverted vertical masthead center aligned segment">
        <div id="central_segment_inner">

            <div class="ui container">
                <div id="top_menu" class="ui large inverted menu">
                    <a class="active item">Форум</a>
                    <a class="item">Задать вопрос</a>
                    <a class="item">Вопросы и ответы</a>

                    <div class="right item">
                        <a class="ui inverted button">Войти</a>
                        <a class="ui inverted button">Регистрация</a>
                    </div>
                </div>
            </div>

            <div id="start_work" class="ui text container">
                <h1 class="ui inverted header">
                    Общественный контроль закупок
                </h1>

                <h2>Статистика и Аналитика</h2>

                <div class="ui huge primary button">Начать работу <i class="right arrow icon"></i></div>
            </div>
        </div>

    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">We Help Companies and Companions</h3>

                    <p>We can give your company superpowers to do things that they never thought possible. Let us
                        delight your customers and empower your needs...through pure data analytics.</p>

                    <h3 class="ui header">We Make Bananas That Can Dance</h3>

                    <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be
                        bioengineered.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="$contextPath/images/wireframe/white-image.png" class="ui large bordered rounded image">
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <a class="ui huge button">Check Them Out</a>
                </div>
            </div>
        </div>
    </div>


    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>"What a Company"</h3>

                    <p>That is what they all say about us</p>
                </div>
                <div class="column">
                    <h3>"I shouldn't have gone with their competitor."</h3>

                    <p>
                        <img src="$contextPath/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer
                        Acme Toys
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>

            <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing
                nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic
                and worth your attention.</p>
            <a class="ui large button">Read More</a>
            <h4 class="ui horizontal header divider">
                <a href="#">Case Studies</a>
            </h4>

            <h3 class="ui header">Did We Tell You About Our Bananas?</h3>

            <p>Yes I know you probably disregarded the earlier boasts as non-sequitor filler content, but its really
                true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
            <a class="ui large button">I'm Still Quite Interested</a>
        </div>
    </div>


    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>

                    <div class="ui inverted link list">
                        <a href="#" class="item">Sitemap</a>
                        <a href="#" class="item">Contact Us</a>
                        <a href="#" class="item">Religious Ceremonies</a>
                        <a href="#" class="item">Gazebo Plans</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Services</h4>

                    <div class="ui inverted link list">
                        <a href="#" class="item">Banana Pre-Order</a>
                        <a href="#" class="item">DNA FAQ</a>
                        <a href="#" class="item">How To Access</a>
                        <a href="#" class="item">Favorite X-Men</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Header</h4>

                    <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
