<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTenderSuspensionLabel" jhiTranslate="zakupkiApp.tenderSuspension.home.createOrEditLabel">Create or edit a Tender Suspension</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tenderSuspension.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tenderSuspension.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.tenderSuspension.complaintNumber" for="field_complaintNumber">Complaint Number</label>
            <input type="text" class="form-control" name="complaintNumber" id="field_complaintNumber"
                [(ngModel)]="tenderSuspension.complaintNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.tenderSuspension.regDate" for="field_regDate">Reg Date</label>
            <div class="input-group">
                <input id="field_regDate" type="text" class="form-control" name="regDate" ngbDatepicker  #regDateDp="ngbDatepicker" [(ngModel)]="tenderSuspension.regDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="regDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.tenderSuspension.action" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                [(ngModel)]="tenderSuspension.action"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
