
<div *ngIf="tenderSuspension">
    <h2><span jhiTranslate="zakupkiApp.tenderSuspension.detail.title">Tender Suspension</span> {{tenderSuspension.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.tenderSuspension.complaintNumber">Complaint Number</span></dt>
        <dd>
            <span>{{tenderSuspension.complaintNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.tenderSuspension.regDate">Reg Date</span></dt>
        <dd>
            <span>{{tenderSuspension.regDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.tenderSuspension.action">Action</span></dt>
        <dd>
            <span>{{tenderSuspension.action}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tender-suspension/'+ tenderSuspension.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
