<div *ngIf="client">
    <h2><span jhiTranslate="zakupkiApp.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.client.regNum">Reg Num</span></dt>
        <dd>
            <span>{{client.regNum}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.client.fullName">Full Name</span></dt>
        <dd>
            <span>{{client.fullName}}</span>
        </dd>
<!--        <dt><span jhiTranslate="zakupkiApp.client.clientType">Client Type</span></dt>
        <dd>
            <span>{{client.clientType}}</span>
        </dd>-->
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary" *adminOnly>
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>

    <hr>

    <div>
        <h2>
            <span jhiTranslate="zakupkiApp.complaintsStats.home.title">Complaint Statistics</span>
        </h2>

        <div class="table-responsive" *ngIf="complaintsStats">
            <table class="table table-striped">
                <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                    <th jhiSortBy="year"><span jhiTranslate="zakupkiApp.complaintsStats.home.year">Year</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="complaintsCount"><span jhiTranslate="zakupkiApp.complaintsStats.home.countSum">Count Sum</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="violations"><span jhiTranslate="zakupkiApp.complaintsStats.home.violations">Violations</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="partlyValid"><span jhiTranslate="zakupkiApp.complaintsStats.home.partlyValid">Partly Valid</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="noViolations"><span jhiTranslate="zakupkiApp.complaintsStats.home.noViolations">No Violations</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="notMatched"><span jhiTranslate="zakupkiApp.complaintsStats.home.notMatched">Not Matched</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="returned"><span jhiTranslate="zakupkiApp.complaintsStats.home.returned">Returned</span> <span class="fa fa-sort"></span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let complaintsStat of complaintsStats ; trackBy: trackYear">
                    <td>{{complaintsStat.year}}</td>
                    <td>{{complaintsStat.complaintsCount}}</td>
                    <td>{{complaintsStat.violations}}</td>
                    <td>{{complaintsStat.partlyValid}}</td>
                    <td>{{complaintsStat.noViolations}}</td>
                    <td>{{complaintsStat.notMatched}}</td>
                    <td>{{complaintsStat.returned}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
