<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCheckComplaintResultLabel" jhiTranslate="zakupkiApp.checkComplaintResult.home.createOrEditLabel">Create or edit a Check Complaint Result</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!checkComplaintResult.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="checkComplaintResult.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.checkComplaintResult.checkResultNumber" for="field_checkResultNumber">Check Result Number</label>
            <input type="text" class="form-control" name="checkResultNumber" id="field_checkResultNumber"
                [(ngModel)]="checkComplaintResult.checkResultNumber" required />
            <div [hidden]="!(editForm.controls.checkResultNumber?.dirty && editForm.controls.checkResultNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.checkResultNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.checkComplaintResult.createDate" for="field_createDate">Create Date</label>
            <div class="input-group">
                <input id="field_createDate" type="text" class="form-control" name="createDate" ngbDatepicker  #createDateDp="ngbDatepicker" [(ngModel)]="checkComplaintResult.createDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="createDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.checkComplaintResult.result" for="field_result">Result</label>
            <input type="text" class="form-control" name="result" id="field_result"
                [(ngModel)]="checkComplaintResult.result"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.checkComplaintResult.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="checkComplaintResult.owner" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ownerOption.id === checkComplaintResult.owner?.id ? checkComplaintResult.owner : ownerOption" *ngFor="let ownerOption of owners; trackBy: trackOwnerById">{{ownerOption.regNum}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.checkComplaintResult.checkSubject" for="field_checkSubject">Check Subject</label>
            <select class="form-control" id="field_checkSubject" name="checkSubject" [(ngModel)]="checkComplaintResult.checkSubject" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === checkComplaintResult.checkSubject?.id ? checkComplaintResult.checkSubject : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.regNum}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.checkComplaintResult.complaint" for="field_complaint">Complaint</label>
            <select class="form-control" id="field_complaint" name="complaint" [(ngModel)]="checkComplaintResult.complaint" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="complaintOption.id === checkComplaintResult.complaint?.id ? checkComplaintResult.complaint : complaintOption" *ngFor="let complaintOption of complaints; trackBy: trackComplaintById">{{complaintOption.complaintNumber}}</option>
            </select>
            <div [hidden]="!(editForm.controls.complaint?.dirty && editForm.controls.complaint?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.complaint?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
