<div>
    <h2>
        <span jhiTranslate="zakupkiApp.checkComplaintResult.home.title">Check Complaint Results</span>
        <button class="btn btn-primary float-right jh-create-entity create-check-complaint-result" [routerLink]="['/', { outlets: { popup: ['check-complaint-result-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="zakupkiApp.checkComplaintResult.home.createLabel">
            Create new Check Complaint Result
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'zakupkiApp.checkComplaintResult.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="checkComplaintResults">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="checkResultNumber"><span jhiTranslate="zakupkiApp.checkComplaintResult.checkResultNumber">Check Result Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createDate"><span jhiTranslate="zakupkiApp.checkComplaintResult.createDate">Create Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="result"><span jhiTranslate="zakupkiApp.checkComplaintResult.result">Result</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="owner.regNum"><span jhiTranslate="zakupkiApp.checkComplaintResult.owner">Owner</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="checkSubject.regNum"><span jhiTranslate="zakupkiApp.checkComplaintResult.checkSubject">Check Subject</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="complaint.complaintNumber"><span jhiTranslate="zakupkiApp.checkComplaintResult.complaint">Complaint</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let checkComplaintResult of checkComplaintResults ;trackBy: trackId">
                <td><a [routerLink]="['../check-complaint-result', checkComplaintResult.id ]">{{checkComplaintResult.id}}</a></td>
                <td>{{checkComplaintResult.checkResultNumber}}</td>
                <td>{{checkComplaintResult.createDate | date:'mediumDate'}}</td>
                <td>{{checkComplaintResult.result}}</td>
                <td>
                    <div *ngIf="checkComplaintResult.owner">
                        <a [routerLink]="['../owner', checkComplaintResult.owner?.id ]" >{{checkComplaintResult.owner?.regNum}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="checkComplaintResult.checkSubject">
                        <a [routerLink]="['../client', checkComplaintResult.checkSubject?.id ]" >{{checkComplaintResult.checkSubject?.regNum}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="checkComplaintResult.complaint">
                        <a [routerLink]="['../complaint', checkComplaintResult.complaint?.id ]" >{{checkComplaintResult.complaint?.complaintNumber}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../check-complaint-result', checkComplaintResult.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'check-complaint-result/'+ checkComplaintResult.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'check-complaint-result/'+ checkComplaintResult.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
