
<div *ngIf="checkComplaintResult">
    <h2><span jhiTranslate="zakupkiApp.checkComplaintResult.detail.title">Check Complaint Result</span> {{checkComplaintResult.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.checkComplaintResult.checkResultNumber">Check Result Number</span></dt>
        <dd>
            <span>{{checkComplaintResult.checkResultNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.checkComplaintResult.createDate">Create Date</span></dt>
        <dd>
            <span>{{checkComplaintResult.createDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.checkComplaintResult.result">Result</span></dt>
        <dd>
            <span>{{checkComplaintResult.result}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.checkComplaintResult.owner">Owner</span></dt>
        <dd>
            <div *ngIf="checkComplaintResult.owner">
                <a [routerLink]="['/owner', checkComplaintResult.owner?.id]">{{checkComplaintResult.owner?.regNum}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.checkComplaintResult.checkSubject">Check Subject</span></dt>
        <dd>
            <div *ngIf="checkComplaintResult.checkSubject">
                <a [routerLink]="['/client', checkComplaintResult.checkSubject?.id]">{{checkComplaintResult.checkSubject?.regNum}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.checkComplaintResult.complaint">Complaint</span></dt>
        <dd>
            <div *ngIf="checkComplaintResult.complaint">
                <a [routerLink]="['/complaint', checkComplaintResult.complaint?.id]">{{checkComplaintResult.complaint?.complaintNumber}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'check-complaint-result/'+ checkComplaintResult.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
