
<div *ngIf="publishOrg">
    <h2><span jhiTranslate="zakupkiApp.publishOrg.detail.title">Publish Org</span> {{publishOrg.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.publishOrg.regNum">Reg Num</span></dt>
        <dd>
            <span>{{publishOrg.regNum}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.publishOrg.fullName">Full Name</span></dt>
        <dd>
            <span>{{publishOrg.fullName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'publish-org/'+ publishOrg.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
