
<div *ngIf="purchase">
    <h2><span jhiTranslate="zakupkiApp.purchase.detail.title">Purchase</span> {{purchase.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.purchase.purchaseNumber">Purchase Number</span></dt>
        <dd>
            <span>{{purchase.purchaseNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.purchase.determSupplierMethod">Determ Supplier Method</span></dt>
        <dd>
            <span>{{purchase.determSupplierMethod}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.purchase.electronicPlatform">Electronic Platform</span></dt>
        <dd>
            <span>{{purchase.electronicPlatform}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.purchase.maxCost">Max Cost</span></dt>
        <dd>
            <span>{{purchase.maxCost}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'purchase/'+ purchase.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary" *adminOnly>
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
