<div>
    <h2>
        <span jhiTranslate="zakupkiApp.purchase.home.title">Purchases</span>
        <button class="btn btn-primary float-right jh-create-entity create-purchase" [routerLink]="['/', { outlets: { popup: ['purchase-new'] } }]" *adminOnly>
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="zakupkiApp.purchase.home.createLabel">
            Create new Purchase
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'zakupkiApp.purchase.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="purchases">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="purchaseNumber"><span jhiTranslate="zakupkiApp.purchase.purchaseNumber">Purchase Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="determSupplierMethod"><span jhiTranslate="zakupkiApp.purchase.determSupplierMethod">Determ Supplier Method</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="electronicPlatform"><span jhiTranslate="zakupkiApp.purchase.electronicPlatform">Electronic Platform</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="maxCost"><span jhiTranslate="zakupkiApp.purchase.maxCost">Max Cost</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let purchase of purchases ;trackBy: trackId">
                <td><a [routerLink]="['../purchase', purchase.id ]">{{purchase.id}}</a></td>
                <td>{{purchase.purchaseNumber}}</td>
                <td>{{purchase.determSupplierMethod}}</td>
                <td>{{purchase.electronicPlatform}}</td>
                <td>{{purchase.maxCost}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../purchase', purchase.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'purchase/'+ purchase.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm" *adminOnly>
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'purchase/'+ purchase.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm" *adminOnly>
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
