<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPurchaseLabel" jhiTranslate="zakupkiApp.purchase.home.createOrEditLabel">Create or edit a Purchase</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!purchase.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="purchase.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.purchase.purchaseNumber" for="field_purchaseNumber">Purchase Number</label>
            <input type="text" class="form-control" name="purchaseNumber" id="field_purchaseNumber"
                [(ngModel)]="purchase.purchaseNumber" required />
            <div [hidden]="!(editForm.controls.purchaseNumber?.dirty && editForm.controls.purchaseNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.purchaseNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.purchase.determSupplierMethod" for="field_determSupplierMethod">Determ Supplier Method</label>
            <input type="text" class="form-control" name="determSupplierMethod" id="field_determSupplierMethod"
                [(ngModel)]="purchase.determSupplierMethod"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.purchase.electronicPlatform" for="field_electronicPlatform">Electronic Platform</label>
            <input type="text" class="form-control" name="electronicPlatform" id="field_electronicPlatform"
                [(ngModel)]="purchase.electronicPlatform"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.purchase.maxCost" for="field_maxCost">Max Cost</label>
            <input type="number" class="form-control" name="maxCost" id="field_maxCost"
                [(ngModel)]="purchase.maxCost"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
