<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myComplaintLabel" jhiTranslate="zakupkiApp.complaint.home.createOrEditLabel">Create or edit a Complaint</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!complaint.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="complaint.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaint.complaintNumber" for="field_complaintNumber">Complaint Number</label>
            <input type="text" class="form-control" name="complaintNumber" id="field_complaintNumber"
                [(ngModel)]="complaint.complaintNumber" required />
            <div [hidden]="!(editForm.controls.complaintNumber?.dirty && editForm.controls.complaintNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.complaintNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaint.regDate" for="field_regDate">Reg Date</label>
            <div class="input-group">
                <input id="field_regDate" type="text" class="form-control" name="regDate" ngbDatepicker  #regDateDp="ngbDatepicker" [(ngModel)]="complaint.regDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="regDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaint.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="complaint.text" maxlength="4000" />
            <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaint.registrationKo" for="field_registrationKo">Registration Ko</label>
            <select class="form-control" id="field_registrationKo" name="registrationKo" [(ngModel)]="complaint.registrationKo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="registrationKoOption.id === complaint.registrationKo?.id ? complaint.registrationKo : registrationKoOption" *ngFor="let registrationKoOption of registrationkos; trackBy: trackRegistrationKoById">{{registrationKoOption.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaint.purchase" for="field_purchase">Purchase</label>
            <select class="form-control" id="field_purchase" name="purchase" [(ngModel)]="complaint.purchase" >
                <option [ngValue]="null"></option>
                <option [ngValue]="purchaseOption.id === complaint.purchase?.id ? complaint.purchase : purchaseOption" *ngFor="let purchaseOption of purchases; trackBy: trackPurchaseById">{{purchaseOption.purchaseNumber}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaint.applicant" for="field_applicant">Applicant</label>
            <select class="form-control" id="field_applicant" name="applicant" [(ngModel)]="complaint.applicant" >
                <option [ngValue]="null"></option>
                <option [ngValue]="applicantOption.id === complaint.applicant?.id ? complaint.applicant : applicantOption" *ngFor="let applicantOption of applicants; trackBy: trackApplicantById">{{applicantOption.organizationName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaint.indictedClient" for="field_indictedClient">Indicted Client</label>
            <select class="form-control" id="field_indictedClient" name="indictedClient" [(ngModel)]="complaint.indictedClient" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === complaint.indictedClient?.id ? complaint.indictedClient : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.fullName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
