
<div *ngIf="complaint">
    <h2><span jhiTranslate="zakupkiApp.complaint.detail.title">Complaint</span> {{complaint.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.complaint.complaintNumber">Complaint Number</span></dt>
        <dd>
            <span>{{complaint.complaintNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.complaint.regDate">Reg Date</span></dt>
        <dd>
            <span>{{complaint.regDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.complaint.text">Text</span></dt>
        <dd>
            <span>{{complaint.text}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.complaint.registrationKo">Registration Ko</span></dt>
        <dd>
            <div *ngIf="complaint.registrationKo">
                <a [routerLink]="['/registration-ko', complaint.registrationKo?.id]">{{complaint.registrationKo?.fullName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.complaint.purchase">Purchase</span></dt>
        <dd>
            <div *ngIf="complaint.purchase">
                <a [routerLink]="['/purchase', complaint.purchase?.id]">{{complaint.purchase?.purchaseNumber}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.complaint.applicant">Applicant</span></dt>
        <dd>
            <div *ngIf="complaint.applicant">
                <a [routerLink]="['/applicant', complaint.applicant?.id]">{{complaint.applicant?.organizationName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.complaint.indictedClient">Indicted Client</span></dt>
        <dd>
            <div *ngIf="complaint.indictedClient">
                <a [routerLink]="['/client', complaint.indictedClient?.id]">{{complaint.indictedClient?.fullName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'complaint/'+ complaint.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary" *adminOnly>
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
