<div>
    <h2>
        <span jhiTranslate="zakupkiApp.complaint.home.title">Complaints</span>
        <button class="btn btn-primary float-right jh-create-entity create-complaint" [routerLink]="['/', { outlets: { popup: ['complaint-new'] } }]" *adminOnly>
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="zakupkiApp.complaint.home.createLabel">
            Create new Complaint
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'zakupkiApp.complaint.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="complaints">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="complaintNumber"><span jhiTranslate="zakupkiApp.complaint.complaintNumber">Complaint Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="regDate"><span jhiTranslate="zakupkiApp.complaint.regDate">Reg Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="text"><span jhiTranslate="zakupkiApp.complaint.text">Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="registrationKo.fullName"><span jhiTranslate="zakupkiApp.complaint.registrationKo">Registration Ko</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="purchase.purchaseNumber"><span jhiTranslate="zakupkiApp.complaint.purchase">Purchase</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="applicant.organizationName"><span jhiTranslate="zakupkiApp.complaint.applicant">Applicant</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="indictedClient.fullName"><span jhiTranslate="zakupkiApp.complaint.indictedClient">Indicted Client</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let complaint of complaints ;trackBy: trackId">
                <td><a [routerLink]="['../complaint', complaint.id ]">{{complaint.id}}</a></td>
                <td>{{complaint.complaintNumber}}</td>
                <td>{{complaint.regDate | date:'mediumDate'}}</td>
                <td>{{complaint.text}}</td>
                <td>
                    <div *ngIf="complaint.registrationKo">
                        <a [routerLink]="['../registration-ko', complaint.registrationKo?.id ]" >{{complaint.registrationKo?.fullName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="complaint.purchase">
                        <a [routerLink]="['../purchase', complaint.purchase?.id ]" >{{complaint.purchase?.purchaseNumber}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="complaint.applicant">
                        <a [routerLink]="['../applicant', complaint.applicant?.id ]" >{{complaint.applicant?.organizationName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="complaint.indictedClient">
                        <a [routerLink]="['../client', complaint.indictedClient?.id ]" >{{complaint.indictedClient?.fullName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../complaint', complaint.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'complaint/'+ complaint.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm" *adminOnly>
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'complaint/'+ complaint.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm" *adminOnly>
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
