<div>
    <h2>
        <span jhiTranslate="global.menu.analytics.clientComplaintsStats">Clients Complaint Statistics</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-sm-12 no-padding-right">
            <form name="datePickForm" role="form" class="form-inline" show-validation #datePickForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label input-group-addon" for="field_fromDate">
                        <span jhiTranslate="zakupkiApp.clientComplaintsStats.home.fromDate">From Date</span>
                    </label>
                    <div class="input-group">
                        <input id="field_fromDate" type="text" class="form-control" name="fromDate"
                               ngbDatepicker #fromDateDp="ngbDatepicker" [(ngModel)]="request.fromDate"/>
                        <span class="input-group-btn">
                                <button type="button" class="btn btn-default" (click)="fromDateDp.toggle()"><i
                                    class="fa fa-calendar"></i></button>
                            </span>
                    </div>

                    <span class="break">&nbsp;</span>

                    <label class="form-control-label input-group-addon" for="field_toDate">
                        <span jhiTranslate="zakupkiApp.clientComplaintsStats.home.toDate">To Date</span>
                    </label>
                    <div class="input-group">
                        <input id="field_toDate" type="text" class="form-control" name="toDate"
                               ngbDatepicker #toDateDp="ngbDatepicker" [(ngModel)]="request.toDate"/>
                        <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="toDateDp.toggle()"><i
                        class="fa fa-calendar"></i></button>
                    </span>
                    </div>
                </div>

                <span class="break">&nbsp;</span>

                <button [disabled]="datePickForm.form.invalid" class="btn btn-primary" (click)="clear()">
                    <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="zakupkiApp.clientComplaintsStats.home.showClients">Show Clients</span>
                </button>
            </form>

        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clientComplaintsStats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="fullName"><span jhiTranslate="zakupkiApp.client.fullName">Name</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="complaintsCount"><span jhiTranslate="zakupkiApp.complaintsStats.home.countSum">Count Sum</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="violations"><span jhiTranslate="zakupkiApp.complaintsStats.home.violations">Violations</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="partlyValid"><span jhiTranslate="zakupkiApp.complaintsStats.home.partlyValid">Partly Valid</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="noViolations"><span jhiTranslate="zakupkiApp.complaintsStats.home.noViolations">No Violations</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="notMatched"><span jhiTranslate="zakupkiApp.complaintsStats.home.notMatched">Not Matched</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let clientComplaintsStat of clientComplaintsStats ; trackBy: trackId">
                <td><a [routerLink]="['../client', clientComplaintsStat.id ]">{{clientComplaintsStat.id}}</a></td>
                <td><a [routerLink]="['../client', clientComplaintsStat.id ]">{{clientComplaintsStat.fullName}}</a></td>
                <td>{{clientComplaintsStat.complaintsCount}}</td>
                <td>{{clientComplaintsStat.violations}}</td>
                <td>{{clientComplaintsStat.partlyValid}}</td>
                <td>{{clientComplaintsStat.noViolations}}</td>
                <td>{{clientComplaintsStat.notMatched}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
