<div>
    <h2>
        <span jhiTranslate="zakupkiApp.complaintsStats.home.title">Complaint Statistics</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <br/>
    <div class="table-responsive" *ngIf="complaintsStats">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="year"><span jhiTranslate="zakupkiApp.complaintsStats.home.year">Year</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="complaintsCount"><span jhiTranslate="zakupkiApp.complaintsStats.home.countSum">Count Sum</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="violations"><span jhiTranslate="zakupkiApp.complaintsStats.home.violations">Violations</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="partlyValid"><span jhiTranslate="zakupkiApp.complaintsStats.home.partlyValid">Partly Valid</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="noViolations"><span jhiTranslate="zakupkiApp.complaintsStats.home.noViolations">No Violations</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="notMatched"><span jhiTranslate="zakupkiApp.complaintsStats.home.notMatched">Not Matched</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="returned"><span jhiTranslate="zakupkiApp.complaintsStats.home.returned">Returned</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let complaintsStat of complaintsStats ; trackBy: trackYear">
                <td>{{complaintsStat.year}}</td>
                <td>{{complaintsStat.complaintsCount}}</td>
                <td>{{complaintsStat.violations}}</td>
                <td>{{complaintsStat.partlyValid}}</td>
                <td>{{complaintsStat.noViolations}}</td>
                <td>{{complaintsStat.notMatched}}</td>
                <td>{{complaintsStat.returned}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
