<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOwnerLabel" jhiTranslate="zakupkiApp.owner.home.createOrEditLabel">Create or edit a Owner</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!owner.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="owner.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.owner.regNum" for="field_regNum">Reg Num</label>
            <input type="text" class="form-control" name="regNum" id="field_regNum"
                [(ngModel)]="owner.regNum" required />
            <div [hidden]="!(editForm.controls.regNum?.dirty && editForm.controls.regNum?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.regNum?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.owner.fullName" for="field_fullName">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="field_fullName"
                [(ngModel)]="owner.fullName"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
