
<div *ngIf="owner">
    <h2><span jhiTranslate="zakupkiApp.owner.detail.title">Owner</span> {{owner.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.owner.regNum">Reg Num</span></dt>
        <dd>
            <span>{{owner.regNum}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.owner.fullName">Full Name</span></dt>
        <dd>
            <span>{{owner.fullName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'owner/'+ owner.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary" *adminOnly>
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
