<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReturnedComplaintLabel" jhiTranslate="zakupkiApp.returnedComplaint.home.createOrEditLabel">Create or edit a Returned Complaint</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!returnedComplaint.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="returnedComplaint.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.returnedComplaint.returnInfoBase" for="field_returnInfoBase">Return Info Base</label>
            <input type="text" class="form-control" name="returnInfoBase" id="field_returnInfoBase"
                [(ngModel)]="returnedComplaint.returnInfoBase" maxlength="4000" />
            <div [hidden]="!(editForm.controls.returnInfoBase?.dirty && editForm.controls.returnInfoBase?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.returnInfoBase?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.returnedComplaint.complaint" for="field_complaint">Complaint</label>
            <select class="form-control" id="field_complaint" name="complaint" [(ngModel)]="returnedComplaint.complaint" >
                <option [ngValue]="null"></option>
                <option [ngValue]="complaintOption.id === returnedComplaint.complaint?.id ? returnedComplaint.complaint : complaintOption" *ngFor="let complaintOption of complaints; trackBy: trackComplaintById">{{complaintOption.complaintNumber}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
