
<div *ngIf="returnedComplaint">
    <h2><span jhiTranslate="zakupkiApp.returnedComplaint.detail.title">Returned Complaint</span> {{returnedComplaint.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.returnedComplaint.returnInfoBase">Return Info Base</span></dt>
        <dd>
            <span>{{returnedComplaint.returnInfoBase}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.returnedComplaint.complaint">Complaint</span></dt>
        <dd>
            <div *ngIf="returnedComplaint.complaint">
                <a [routerLink]="['/complaint', returnedComplaint.complaint?.id]">{{returnedComplaint.complaint?.complaintNumber}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'returned-complaint/'+ returnedComplaint.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
