<div>
    <h2>
        <span jhiTranslate="zakupkiApp.returnedComplaint.home.title">Returned Complaints</span>
        <button class="btn btn-primary float-right jh-create-entity create-returned-complaint" [routerLink]="['/', { outlets: { popup: ['returned-complaint-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="zakupkiApp.returnedComplaint.home.createLabel">
            Create new Returned Complaint
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'zakupkiApp.returnedComplaint.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="returnedComplaints">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="returnInfoBase"><span jhiTranslate="zakupkiApp.returnedComplaint.returnInfoBase">Return Info Base</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="complaint.complaintNumber"><span jhiTranslate="zakupkiApp.returnedComplaint.complaint">Complaint</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let returnedComplaint of returnedComplaints ;trackBy: trackId">
                <td><a [routerLink]="['../returned-complaint', returnedComplaint.id ]">{{returnedComplaint.id}}</a></td>
                <td>{{returnedComplaint.returnInfoBase}}</td>
                <td>
                    <div *ngIf="returnedComplaint.complaint">
                        <a [routerLink]="['../complaint', returnedComplaint.complaint?.id ]" >{{returnedComplaint.complaint?.complaintNumber}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../returned-complaint', returnedComplaint.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'returned-complaint/'+ returnedComplaint.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'returned-complaint/'+ returnedComplaint.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
