
<div *ngIf="complaintCancel">
    <h2><span jhiTranslate="zakupkiApp.complaintCancel.detail.title">Complaint Cancel</span> {{complaintCancel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.complaintCancel.complaintNumber">Complaint Number</span></dt>
        <dd>
            <span>{{complaintCancel.complaintNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.complaintCancel.regDate">Reg Date</span></dt>
        <dd>
            <span>{{complaintCancel.regDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.complaintCancel.text">Text</span></dt>
        <dd>
            <span>{{complaintCancel.text}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.complaintCancel.registrationKo">Registration Ko</span></dt>
        <dd>
            <div *ngIf="complaintCancel.registrationKo">
                <a [routerLink]="['/registration-ko', complaintCancel.registrationKo?.id]">{{complaintCancel.registrationKo?.regNum}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'complaint-cancel/'+ complaintCancel.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
