<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myComplaintCancelLabel" jhiTranslate="zakupkiApp.complaintCancel.home.createOrEditLabel">Create or edit a Complaint Cancel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!complaintCancel.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="complaintCancel.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaintCancel.complaintNumber" for="field_complaintNumber">Complaint Number</label>
            <input type="text" class="form-control" name="complaintNumber" id="field_complaintNumber"
                [(ngModel)]="complaintCancel.complaintNumber" required />
            <div [hidden]="!(editForm.controls.complaintNumber?.dirty && editForm.controls.complaintNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.complaintNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaintCancel.regDate" for="field_regDate">Reg Date</label>
            <div class="input-group">
                <input id="field_regDate" type="text" class="form-control" name="regDate" ngbDatepicker  #regDateDp="ngbDatepicker" [(ngModel)]="complaintCancel.regDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="regDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaintCancel.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="complaintCancel.text" maxlength="4000" />
            <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4000 }">
                   This field cannot be longer than 4000 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.complaintCancel.registrationKo" for="field_registrationKo">Registration Ko</label>
            <select class="form-control" id="field_registrationKo" name="registrationKo" [(ngModel)]="complaintCancel.registrationKo" >
                <option [ngValue]="null"></option>
                <option [ngValue]="registrationKoOption.id === complaintCancel.registrationKo?.id ? complaintCancel.registrationKo : registrationKoOption" *ngFor="let registrationKoOption of registrationkos; trackBy: trackRegistrationKoById">{{registrationKoOption.regNum}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
