
<div *ngIf="controlCheckResult">
    <h2><span jhiTranslate="zakupkiApp.controlCheckResult.detail.title">Control Check Result</span> {{controlCheckResult.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="zakupkiApp.controlCheckResult.checkResultNumber">Check Result Number</span></dt>
        <dd>
            <span>{{controlCheckResult.checkResultNumber}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.controlCheckResult.createdDate">Created Date</span></dt>
        <dd>
            <span>{{controlCheckResult.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.controlCheckResult.result">Result</span></dt>
        <dd>
            <span>{{controlCheckResult.result}}</span>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.controlCheckResult.owner">Owner</span></dt>
        <dd>
            <div *ngIf="controlCheckResult.owner">
                <a [routerLink]="['/owner', controlCheckResult.owner?.id]">{{controlCheckResult.owner?.regNum}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="zakupkiApp.controlCheckResult.clientComplaint">Client Complaint</span></dt>
        <dd>
            <div *ngIf="controlCheckResult.clientComplaint">
                <a [routerLink]="['/client', controlCheckResult.clientComplaint?.id]">{{controlCheckResult.clientComplaint?.regNum}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'control-check-result/'+ controlCheckResult.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
