<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myControlCheckResultLabel" jhiTranslate="zakupkiApp.controlCheckResult.home.createOrEditLabel">Create or edit a Control Check Result</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!controlCheckResult.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="controlCheckResult.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.controlCheckResult.checkResultNumber" for="field_checkResultNumber">Check Result Number</label>
            <input type="text" class="form-control" name="checkResultNumber" id="field_checkResultNumber"
                [(ngModel)]="controlCheckResult.checkResultNumber" required />
            <div [hidden]="!(editForm.controls.checkResultNumber?.dirty && editForm.controls.checkResultNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.checkResultNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.controlCheckResult.createdDate" for="field_createdDate">Created Date</label>
            <div class="input-group">
                <input id="field_createdDate" type="text" class="form-control" name="createdDate" ngbDatepicker  #createdDateDp="ngbDatepicker" [(ngModel)]="controlCheckResult.createdDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="createdDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.controlCheckResult.result" for="field_result">Result</label>
            <input type="text" class="form-control" name="result" id="field_result"
                [(ngModel)]="controlCheckResult.result"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.controlCheckResult.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" [(ngModel)]="controlCheckResult.owner" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ownerOption.id === controlCheckResult.owner?.id ? controlCheckResult.owner : ownerOption" *ngFor="let ownerOption of owners; trackBy: trackOwnerById">{{ownerOption.regNum}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="zakupkiApp.controlCheckResult.clientComplaint" for="field_clientComplaint">Client Complaint</label>
            <select class="form-control" id="field_clientComplaint" name="clientComplaint" [(ngModel)]="controlCheckResult.clientComplaint" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === controlCheckResult.clientComplaint?.id ? controlCheckResult.clientComplaint : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.regNum}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
