<div>
    <h2>
        <span jhiTranslate="zakupkiApp.controlCheckResult.home.title">Control Check Results</span>
        <button class="btn btn-primary float-right jh-create-entity create-control-check-result" [routerLink]="['/', { outlets: { popup: ['control-check-result-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="zakupkiApp.controlCheckResult.home.createLabel">
            Create new Control Check Result
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'zakupkiApp.controlCheckResult.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="controlCheckResults">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="checkResultNumber"><span jhiTranslate="zakupkiApp.controlCheckResult.checkResultNumber">Check Result Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="zakupkiApp.controlCheckResult.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="result"><span jhiTranslate="zakupkiApp.controlCheckResult.result">Result</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="owner.regNum"><span jhiTranslate="zakupkiApp.controlCheckResult.owner">Owner</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientComplaint.regNum"><span jhiTranslate="zakupkiApp.controlCheckResult.clientComplaint">Client Complaint</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let controlCheckResult of controlCheckResults ;trackBy: trackId">
                <td><a [routerLink]="['../control-check-result', controlCheckResult.id ]">{{controlCheckResult.id}}</a></td>
                <td>{{controlCheckResult.checkResultNumber}}</td>
                <td>{{controlCheckResult.createdDate | date:'mediumDate'}}</td>
                <td>{{controlCheckResult.result}}</td>
                <td>
                    <div *ngIf="controlCheckResult.owner">
                        <a [routerLink]="['../owner', controlCheckResult.owner?.id ]" >{{controlCheckResult.owner?.regNum}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="controlCheckResult.clientComplaint">
                        <a [routerLink]="['../client', controlCheckResult.clientComplaint?.id ]" >{{controlCheckResult.clientComplaint?.regNum}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../control-check-result', controlCheckResult.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'control-check-result/'+ controlCheckResult.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'control-check-result/'+ controlCheckResult.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
